.main-header{
  background-color:  #FAF9F4;
 padding: .7rem;
}
.header{
  display: flex;
justify-content: space-between;
padding: 0.5rem;
padding-bottom: 1rem;
}
.time{
  font-family: 'SF Pro Text';
  font-weight: 600;
}
.header2{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: small;
  display: flex;
  gap: 2rem;
  /* justify-content: space-around; */
}
.trip{
 font-size: 1.5rem;
 font-weight: 600;
 margin-top: -0.3rem;
}
.section2{
  display: flex;
  justify-content: space-between;
}
.doublearrow{
  margin-top: auto;
}
.profile{
  margin-left: 1rem;
  margin-top: 0.7rem;
}
.section3{
  display: flex;
  gap: 1rem;
}
.text{
  margin-top: 1rem;
}
.section4{
  display: flex;
  justify-content: space-between;
}
.Dot{
  margin-top: 2rem;
  
}